.header-img
{ 
    height: 40vh;
    margin-bottom: 0;
    background: url(../images/misc/anime-music.jpg) no-repeat 100% 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.anime { border-bottom: 1px solid black; }
div.anime:last-of-type { border-bottom: none; }

.footer 
{ 
    background-color: #222;
    color: #9d9d9d;
}

.message-box { max-height: 200px; overflow: auto; }