<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/chat.js"></script>


<footer class="footer">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Created by Steven Liao.</a>
            </div>
        </div>
    </nav>
</footer>