<title><%=siteTitle%> - <%=pageTitle%></title>

<link rel="icon" href="/nodejsAnime/static/images/misc/icon.png">
<link rel="stylesheet" href="/nodejsAnime/static/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<% if (pageID == 'animes') { %>
<<<<<<< HEAD
    <script src="/nodejsAnime/static/js/add-anime.js"></script>
<% } %>

<!-- <script src="nodejsAnime/static/reload/reload.js"></script> -->

<!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->