<title><%=siteTitle%> - <%=pageTitle%></title>

<link rel="icon" href="images/misc/icon.png">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<% if (pageID == 'animes') { %>
    <script src="/js/add-anime.js"></script>
<% } %>
<script src="/js/chat.js"></script>
<script src="/reload/reload.js"></script>