<html>
    <head>
        <% include partials/template/head.ejs %>
        
    </head>
    
    <body>
        <% include partials/template/header.ejs %>
        <div class="background">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <article class="chat">
                    <header class="chat-header">
                      <div class="h3 chat-title">Anime Chat
                      </div>
                    </header>
                    <form name="chatForm" class="form-horizontal chat-form">
                      <div class="form-group">
                        <label for="chat-username" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="chat-username" required placeholder="Enter your name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="chat-message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                          <div class="input-group">
                            <input type="text" placeholder="Enter a message, then press enter" class="form-control" id="chat-message" rows="2" autocomplete="off"
                             required>
                            <span class="input-group-btn">
                              <button id="chat-submit" class="btn btn-info" type="submit">Chat</button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="panel panel-default">
                      <div class="panel-body chat-display">
                        <p class="text-muted chat-text">Welcome...add your message using the form above</p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
        </div>
        <% include partials/template/footer.ejs %>
    </body>
</html>