<html>
    <head>
        <title><%=siteTitle%>--<%=pageID%></title>
        
        <link href="css/style.css" rel="stylesheet">
        
        <script src="/reload/reload.js"></script>
    </head>
    <body>
        <header>
            
        </header>
        <h2>HELLO WORLD</h2>
        <p>Look at some animes <a href="/animes">here</a>.</p>
    </body>
</html>