<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body>
        <% include partials/template/header.ejs %>
        <div class="background">
            <div class="container">
                <h2>Welcome to Steven's Anime List</h2>
                <p>Look at some animes <a href="/nodejsAnime/animes">here</a>.</p>
            </div>
        </div>
        <% include partials/template/footer.ejs %>
    </body>
</html>