<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body>
        <% include partials/template/header.ejs %>
        <div class="background">
            <div class="container">
                <h2>Welcome to Steven's Anime List</h2>
<<<<<<< HEAD
                <p>Look at some animes <a href="/nodejsAnime/animes">here</a>.</p>
=======
                <p>Look at some animes <a href="/animes">here</a>.</p>
>>>>>>> ff4e5ac19c8e5505868c72e3555a08bf5b7b542d
            </div>
        </div>
        <% include partials/template/footer.ejs %>
    </body>
</html>